@import '/abstract/variables';
@import '/abstract/mixins';

@import '/base/typography';
@import '/base/utils';

@import '/components/buttons';

@import '/components/material_ui';

@import '/layout/header';
@import '/layout/forms';
@import '/layout/pages';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}
